table {
	border: 1px solid #666666;
	border-collapse: collapse;
	width: 600px;
}

th {
	border: 1px solid #666666;
	background-color: #dddddd;
	padding: 4px;
}

td {
	border: 1px solid #666666;
	padding: 4px;
}

.error {
	color: #ff0000;
}